body{text-align: center;}
body{font-size: 1.25em;}
body{background-color: aquamarine;}
body{font-weight: 200;}
body{line-height: 1.6em;}
body{font-style: italic;}
body{text-decoration: underline;}
body{letter-spacing: 0.2em;}
body{word-spacing: 1em;}
ul{list-style: none;}